<header class="flex w-full items-center bg-white">
    <div class="container mx-auto">
        <div class="py-4 flex items-center justify-between">
            <a href="{{ path('app_home') }}" class="block w-32 sm:w-40">
                <img
                        src="{{ asset('build/images/logo/bts_logo_black.png') }}"
                        alt="logo de l'application back to school"
                        class="w-full"
                />
            </a>
            <div class="flex flex-col sm:flex-row items-center justify-end px-4">
                {% include 'component/_button.html.twig' with {label: "s'inscrire"} %}
                {% include 'component/_button.html.twig' with {label: "se connecter", link:"/"} %}
            </div>
        </div>
    </div>
</header>